body{
    background-color: rgb(3, 3, 88);
}
table{
    margin:auto;
    color: white;
}
.contenedor{
    margin: auto;
    width: 500px;
    height: 320px;
}
.registrar{
    height: 30px;
    background: #fc7323;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: whitesmoke;
    margin-bottom: 5px;
}
input{
    width: 100%;
    height: 25px;
    border: 2px solid grey;
    margin-bottom: 5px;
}
table{
    border-collapse: collapse;
}
td,th{
    border:1px solid rgb(255, 255, 255);
}
h1{
    color: whitesmoke;
    text-align: center;
}
label{
    color: whitesmoke;
}